@font-face {
    font-family: Filandica-R;
    src: url(../fonts/Finlandica-Regular.ttf);
}

* {
    margin: 0 auto;
    padding: 0 auto;
}

section {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .6);
    padding: 40px;
    color: white;
}

h2 {
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 60px;
    padding-top: 0;
    border-radius: 20px;
    font-size: larger;
    margin: 10px;
    justify-content: center;
}

form h3 {
    padding: 20px;
}

form > label {
    padding: 10px;
}

form > label > input {
    border-radius: 5px;
    border: 1px solid;
}

form > button {
    padding: 10px;
    border: none;
    border-radius: 30px;
    width: 8em;
    font-family: Filandica-R;
    margin-top: 20px;
}

form > button {
    color: black;
    font-family: Filandica-R;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    width: 60%;
    max-width: 60%;
    transition: .3s linear;
}

form > button:hover {
    background-color: black;
    color: white;
}

div > a {
	color: black;
	font-family: Filandica-R;
	background-color: white;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	border-radius: 20px;
	width: 20%;
	max-width: 15%;
	transition: .3s linear;
}

div > a:hover {
	background-color: black;
	color: white;
}
