@font-face {
    font-family: Filandica-R;
    src: url(../fonts/Finlandica-Regular.ttf);
}

* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: Filandica-R;
}

body {
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    width: 100%;
    color: white;
}

header {
    width: 100%;
    background-color:rgba(0,0,0,0.7);
    height: 15%;
    padding: 40px 0;
}

nav {
    display: flex;
    flex-direction: row;
    max-width: 1600px;
}

nav > h1 {
    font-size: 2em;  
    opacity: 1;
}

.logout {
    color: white;
}

main {
    margin-top: 6em;
}
