@font-face {
    font-family: Filandica-R;
    src: url(../fonts/Finlandica-Regular.ttf);
}

* {
    margin: 0 auto;
    padding: 0 auto;
}

body {
    color: white;
    font-family: Filandica-R;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links {
	display: flex;
  flex-direction: row;
}

div > h3 {
	background-color: rgba(0, 0, 0, .8);
	text-align: center;
	margin-top: 20px;
	padding: 10px 30px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.links > a {
    color: white;
    font-family: Filandica-R;
    background-color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
		margin: 20px;
    transition: .3s linear;
}

.links > a:hover {
    background-color: white;
    color: black;
}

table {
    font-size: 20px;
    max-width: 70%;
    background-color: rgba(0, 0, 0, .8);
    width: 70%;
    border-collapse: collapse;
    text-align: left;
}

th {
    font-weight: normal;
    color: white;
    border-bottom: 2px solid white;
    padding: 10px 8px;
}

td {
    color: rgb(196, 195, 195);
    padding: 9px 8px;
    transition: .3s linear;
}

tr:hover td {
    color: rgb(255, 255, 255);
}

button {
    border: none;
    width: 6em;
    color: black;
    font-family: Filandica-R;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 5px;
    border-radius: 20px;
    transition: .3s linear;
}

button:hover {
    background-color: black;
    color: white;
}

button > a {
    font-family: Filandica-R;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    transition: .3s linear;
}

button > a:hover {
    color: white;
}

